<% if (name && email) { %>
<section class="card">
  <p class="card--title--sub"><strong>이름:</strong> <%= name %></p>
  <p class="card--title--sub"><strong>이메일:</strong> <%= email %></p>
</section>
<% } %>
