@use "./reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

$font-family-base: "Noto Sans KR", sans-serif;
$font-primary: #333;
$bg-color: #f4f4f4;
$border-color: #ccc;
$btn-primary: #03a9f3;
$btn-primary-hover: #038fcd;
$btn-primary-hover-border: #0286c1;
$navbar-gradient-start: #13b4ca;
$navbar-gradient-end: #18cabe;
$btn-secondary: crimson;
$btn-secondary-hover: rgb(160, 17, 46);

@mixin transition($properties...) {
  transition: $properties 0.25s ease;
}

// 기본 설정
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-family-base;
  background-color: $bg-color;
  color: $font-primary;
  margin: 0;
  padding: 0;
  font-size: 1rem; // 16px
  line-height: 1.5;
}

.label {
  font-size: 1.8rem;
  display: inline-block;
}

.row-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// 메인 컨테이너
.main-container {
  width: 100%;
  max-width: 800px;
  min-width: 360px;
  padding: 7.8rem 2rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: calc(100vh - 8.3rem);
}

// 네비게이션 바
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(
    88deg,
    $navbar-gradient-start,
    $navbar-gradient-end
  );
  z-index: 9999;
  @include transition(background);

  &__logo {
    background: #fff;
    width: 150px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      height: 28px;
      display: block;
    }
  }
}

// 폼
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &--search,
  &--general {
    width: 100%;
    display: flex;
  }

  &--search {
    .input {
      flex: 1;
      height: 3.8rem;
      padding: 0 1.5rem;
      font-size: 1.2rem;
      color: #495057;
      background-color: #fff;
      border: 1px solid #f3f3f3;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      outline: none;
      @include transition(border-color, box-shadow);

      &::placeholder {
        color: #c9c8cb;
      }

      &:focus {
        border-color: #80bdff;
        border-right: none;
      }
    }
  }

  &--general {
    width: 100%;

    .btn {
      &--primary {
        color: #fff;
        background-color: $btn-primary;
        border-color: $btn-primary;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border-radius: 4px;
        cursor: pointer;
        @include transition(background-color, border-color);

        &:hover {
          background-color: $btn-primary-hover;
          border-color: $btn-primary-hover-border;
        }
      }
    }
  }
}

// 폼 그룹
.form-group {
  .label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: $font-primary;
  }

  .input {
    height: 3.8rem;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    outline: none;
    transition: border-color, box-shadow 0.25s ease;
    @include transition(border-color, box-shadow);

    &::placeholder {
      color: #c9c8cb;
    }

    &:focus {
      border-color: #80bdff;
      border-right: none;
    }
  }

  &.col {
    display: flex;
    flex-direction: row;
  }

  &.row {
    display: flex;
    flex-direction: column;
  }
}

// 테이블
.table {
  width: 100%;
  color: #212529;
  border-top: 1px solid #f3f3f3;

  .tr {
    border-top: 0;
    border-bottom-width: 1px;
    vertical-align: bottom;
    border-bottom: 2px solid #f3f3f3;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:has(.btn) {
      .td:has(.btn) {
        flex: unset;

        .btn {
          min-width: 70px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.25rem;
          font-size: 1.4rem;
          font-weight: bold;
          line-height: 1;
          padding: 0.5rem 0.375rem;
          text-align: center;
          white-space: nowrap;
          transition: color 0.15s ease-in-out,
            background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        }
      }
    }

    .td {
      flex: 1;
    }
  }
}

// 버튼
.btn {
  border: none;
  font-weight: 700;
  border-radius: 4px;
  padding: 0 1.5rem;
  @include transition(color, background-color, border-color, box-shadow);

  &--primary {
    color: #fff;
    background-color: $btn-primary;
    border-color: $btn-primary;

    &:hover {
      background-color: $btn-primary-hover;
      border-color: $btn-primary-hover-border;
    }
  }

  &--add {
    border-radius: 0 4px 4px 0;
  }

  &--remove {
    min-width: auto !important;
    padding: 10px !important;
    background-color: $btn-secondary;

    &:hover {
      background-color: $btn-secondary-hover;
    }

    path {
      stroke: #fff;
    }
  }

  &--submit {
    padding: 10px !important;
    margin-top: 2rem;
  }
}

// 카드
.card {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: none;
  padding: 3rem;
  gap: 2rem;

  &--title {
    margin-bottom: 1.5rem;
    font-weight: bold;

    &--main {
      font-size: 2.4rem;
    }

    &--sub {
      font-size: 1.8rem;
    }
  }

  img {
    width: 100%;
    max-width: 140px;
    height: auto;
    min-height: 200px;
    max-height: 200px;
    border-radius: 4px;
    background-color: #f5f5f5;
    object-fit: cover;
    overflow: hidden;
  }

  &__details {
    text-align: center;

    .heading-card {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .text-card {
      font-size: 1.6rem;
      margin: 0.5rem 0;
    }
  }

  .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;

    .heading-card-sub {
      font-size: 1.8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 100%;
      text-align: center;
    }

    .text-card-sub {
      font-size: 1.4rem;

      &:first-of-type {
        color: #999;
        font-weight: 300;
      }
    }
  }

  // 테이블
  &:has(.table) {
    + .card {
      margin-top: 2rem;
    }

    &.hide {
      display: none;
    }
  }
}

// 지도
.map-wrapper {
  flex: 1 1 calc((100% / 3) - (4rem / 3)); // 1열에 3개의 카드
  max-width: calc((100% / 3) - (4rem / 3));
  padding: 3rem;
  background-color: #fff;
  box-sizing: border-box;
}

.map-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// 푸터
.footer {
  width: 100%;
  max-width: 800px;
  min-width: 360px;
  margin: 0 auto;
  background: $bg-color;
  padding: 2.5rem;
  @include transition(all);
  border-top: 1px solid #f3f3f3;
  font-size: 1.4rem;
  box-sizing: border-box;

  &--copyright {
    color: #8d9498 !important;
  }
}

// 배지
.badge {
  min-width: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5rem 0.375rem;
  text-align: center;
  white-space: nowrap;
  @include transition(color, background-color, border-color, box-shadow);

  &--pass {
    border: 1px solid #00c292;
    color: #fff;
    background-color: #00c292;
  }

  &--reject {
    border: 1px solid #ffb463;
    color: #fff;
    background-color: #ffb463;
  }
}

// 미디어 쿼리
@media (max-width: 768px) {
  .map-wrapper {
    flex: 1 1 100%; // 1열에 1개의 카드
    max-width: 100%;
  }
  .form--search {
    &.col {
      display: block;
      .input {
        width: 100%;
        border-radius: 4px 4px 0 0;
        &:focus {
          border: 1px solid #80bdff;
        }
      }
      .btn {
        height: 3.8rem;
        width: 100%;
        border-radius: 0 0 4px 4px;
      }
    }
  }
  .card {
    padding: 2rem;
  }
}
